<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/main.css" />
        <link href="images/favicon.ico" rel="icon" />
        <title> {% block title %} VTT Learning - {% endblock %}</title>
        <link href="images/favicon.ico" rel="icon" />
        <script src="https://kit.fontawesome.com/2f4aa51ca0.js" crossorigin="anonymous"></script>
        {% block style %} {% endblock %}
    </head>
    <body>
        {% block body %}

            <!-- Header -->
            <header id="header">
                <div class="logo"><a href="index.php"></a></div>
                <a href="#menu"><span>Menu</span></a>
            </header>

            <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="index.php">Accueil</a></li>
                        {%if session.login is defined %}
                            {%if session.role == 1 %}
                            <li>
                                <a class="dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" ariahaspopup="
                                   true" aria-expanded="false">Administration</a>
                                <ul>
                                    <li><a class="dropdown-item" href="index.php?page=ajoutcours" style="color:#FFFFFF;">Ajout d'un cours</a></li> <!-- Si je ne mets pas le style color, étant donné que le lien n’est pas défaut dans le css en rouge il ne se voit pas dans le menu donc je le redéfini en blanc avec le #FFFFFF  -->
                                    <li><a class="dropdown-item" href="index.php?page=contactadmin" style="color:#FFFFFF;">Liste des messages de contact</a></li>
                                    <li><a class="dropdown-item" href="index.php?page=commentaireadmin" style="color:#FFFFFF;">Liste des commentaires</a></li>
                                    <li><a class="dropdown-item" href="index.php?page=utilisateuradmin" style="color:#FFFFFF;">Liste des utilisateurs</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li><a href="index.php?page=apropos">A propos</a></li>
                    <li><a href="index.php?page=mentions">Mentions légales</a></li>
                    <li><a href="index.php?page=contact">Contact</a></li>
                    <li><a href="index.php?page=commentaire">Commentaires</a></li>
                        {%if session.login is defined %}
                        <li><a href="index.php?page=profil&email={{session.login}}">Mon compte</a></li>
                        <li><a href="index.php?page=deconnexion">Se déconnecter</a></li>
                        {% else %} 
                        <li><a href="index.php?page=connexion">Se connecter</a></li>
                        <li><a href="index.php?page=inscription">S'inscrire</a></li>
                        {% endif %}
                </ul>
            </nav>
            {% block contenu %}
            {% endblock %}
            {% block footer %}
                <!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <ul class="icons">
                            <li><a href="https://twitter.com/LearningVtt" target="_blank" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/vtt.learning.1" target="_blank" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="https://www.instagram.com/vttlearning/" target="_blank" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
                        </ul>

                        <div class="copyright">
                            &copy; VTT Learning. Modèle: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/s/photos/mountain-bike">Unsplash</a>. Createur: <a href="#">Théo TELLIEZ</a>.
                        </div>

                    </div>
                </footer>
            {% endblock %}
        </div>
    </div>
{% endblock %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write ( '<script src="js/jquery-3.2.1.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/jquery.scrollex.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>
</body>
</html>