{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Vérification {% endblock %}

{% block contenu %}

    <h1 class="h1 mb-3 font-weight-normal"> </h1>

    <center>
        <h2>Un email a été envoyé</h2>
        <h3>Merci de vérifier vos mails (SPAMS) et de cliquer sur le bouton de validation de compte</h3>

    </center>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

{% endblock %}    