{% extends "base.html_puzzle.twig" %}
{% block style %}<link href="css/main.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Ajout de puzzle {% endblock %}  

{% block contenu %}

    <h1 class="vide"> </h1>

    <center>
        <h2>Puzzle</h2> 
        

        <iframe src="puzzle_crash_test.html" height="760" width="1240"></iframe>
        <h6>Cliquez sur l'image pour lancer le Puzzle</h6>
        
    </center> 
    
    <h1 class="vide"> </h1>




{% endblock %}
