{% extends "base.html.twig" %}
{% block style %}<link href="css/main.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Sommaire de la présentation {% endblock %}

{% block contenu %}

    <div style="text-align: center">
        <h1 class="h1"> </h1>
        <h2>Sommaire de la présentation du 27 Mars 2020 :</h2>
        <br/>
        <h3><span style="color: #F64747">I - </span>Base du site</h3><p>Style du site, Réseaux sociaux, Menu, Pages annexes</p>
        <h3><span style="color: #F64747">II - </span>Connexion / Inscription</h3><p>Envoi de mails pour la validation d'inscription, Système de sessions</p>
        <h3><span style="color: #F64747">III - </span>Cours</h3><p>Système de cours (Ajouts, Modifications, Suppression)</p>
        <h3><span style="color: #F64747">IV - </span>Contact / Commentaires</h3><p>Système de messagerie (Mode Admin, Ajout de commentaires, Formulaire de contact)</p>
        <h3><span style="color: #F64747">V - </span>Recherches</h3><p>Principe de recherches (Mode Admin, Cours,  Difficultés, Utilisateurs, Contact, etc.)</p>
        <br/><br/>
        
        
        
    </div>
</div>





{% endblock %}  
